IMAGE_FOLDER=data/FULL_IMAGES
ANNOTATION_FOLDER=annotations
ANNOTATION_FILENAME=annotations.json
IMAGE_EXTENSIONS=.png,.jpg,.jpeg
HAND_TO_DIGITS_MODEL_PATH=models/handToDigits_model.pth
IMAGE_TO_HAND_BOX_MODEL_PATH=models/imageToHandBox_model.pth
